Package: 
Name: 
Version: 
Section: Themes
Architecture: iphoneos-arm
Depends: com.anemonetheming.anemone
Maintainer: DaJakerBoss <jakerh08@gmail.com>
Author: 
Description: 
Icon: file:///Applications/Sutoroku.app/icon.png
